.vs/DAN_XLI_Milica_Karetic/v15/.suo
.vs/DAN_XLI_Milica_Karetic/v15/Server/sqlite3/db.lock
.vs/DAN_XLI_Milica_Karetic/v15/Server/sqlite3/storage.ide
.vs/DAN_XLI_Milica_Karetic/v15/Server/sqlite3/storage.ide-shm
.vs/DAN_XLI_Milica_Karetic/v15/Server/sqlite3/storage.ide-wal
